@use '../../styles/utilities' as u;
@use '../../styles/shared-components' as shared;

.ability-toggle-group .sub-input-field {
  max-width: 200px;
}
.base-stats-grid {
  @include u.grid-cols-responsive-mixin(140px);
  gap: var(--spacing-md);
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-lg);
}

.stat-card-icon-display {
  @include shared.stat-card-icon-display-base;
  .stat-card-header-content {
    @include shared.stat-card-header-content-base;
  }
  .stat-card-icon {
    @include shared.stat-card-icon-base;
  }
  .stat-card-title {
    @include shared.stat-card-title-base;
  }
  mat-card-content {
    @include shared.stat-card-content-base;
  }
  .stat-card-value {
    @include shared.stat-card-value-base;
  }
}

.edit-stat-popover {
  @include shared.edit-stat-popover-base;
}
.profile-content {
  --dummy-variable-to-avoid-empty-ruleset: 1;
}
.tooltip-icon {
  @include shared.tooltip-icon-base;
}
